[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "20.0.4"
flasgger = "0.9.4"
Flask = "2.2.5"
Flask-RESTful = "0.3.10"
dependency-injector = "4.42.0"
marshmallow = "3.12.1"
apispec = "3.2.0"
jsonschema = "3.2.0"
simplejson = "3.17.5"
mysql-connector-python = "8.0.27"
sqlalchemy = "1.4.42"
pytest = "8.3.3"

[dev-packages]

[requires]
python_version = "3.11"
